<div id="component">
    <header>
        <app-menubar></app-menubar>
        <span id="pageTitle">{{pageTitle}}</span>
        <span> | </span>
          </header>
    <table class="table table-striped table-sm" *ngIf="request">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Rejection Reason</th>
                <th>Status</th>
                <th>Total</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.rejectionReason}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total | currency}}</td>
                <td>{{request.user?.username}}</td>
                <td>
                    <button (click)="submitReview()" class="btn btn-link" routerLink="/request/review" >Submit for Review</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/requestline/create">Create</a>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="request && request.requestLines">
            <tr *ngFor="let rl of request.requestLines">
                <td>{{rl.id}}</td>
                <td>{{rl.product?.name}}</td>
                <td>{{rl.product?.price | currency}}</td>
                <td>{{rl.quantity}}</td>
                <td>{{rl.quantity * (rl.product === null ? 0 : rl.product.price)}}</td>
                <td>
                    <a routerLink="/orderline/edit/{{rl.id}}">Change</a>
                    <span> | </span>
                    <button (click)="remove(rl.id)" class="">Remove</button>
                </td>
                </tr>
        </tbody>
    </table>
    
</div>
