<div>
    <header>
        <app-menubar></app-menubar>
        <!-- <span id="pageTitle" pageTitle = "pageTitle">{{pageTitle}}</span> -->
    </header>
    <main>
        
    <h1 id="users"><a routerLink="/user/list">Users</a></h1>
    <h1 id="vendors"><a routerLink="/vendor/list">Vendors</a></h1>
    <h1 id="products"><a routerLink="/product/list">Products</a></h1>
    <h1 id="requests"><a routerLink="/request/list">Requests</a></h1>
    <h1 id="reviews"><a routerLink="/request/review">Reviews</a></h1>
    <h1 id="aboutme"><a routerLink="/about/aboutme">About</a></h1>
    <h1 id="login"><a routerLink="/user/login">Login</a></h1>

</main>
</div>
