<div>
    <header>
        <app-menubar></app-menubar>
        <!-- <span pageTitle = "pageTitle">{{pageTitle}}</span> -->
    </header>
    <main>
        <div>
            <h1>About Me</h1>
            <br>
            <br>
            <p> My name is Rob Jaindl. I recently graduated a Full Stack Bootcamp from Max Technical Training. 
                I’ve spent the last 16 years pursuing a career in commercial construction and during that time 
                would think back on my childhood times of messing around with computers and creating my own webpage 
                about saltwater fish in the Texas Gulf. I remember the delight and enjoyment it brought me to see 
                coding on a page turn into readable text, pictures and links to other pages. So for this reason I 
                decided to make a career out of what I remembered so well. To this day I enjoy building and modifying 
                projects to see them evolve into something imagined and creative. I decided it was time to put my 
                construction career on hold and to start an exciting new career. Max Technical Training was able to 
                teach me so much in the world of software development. I am so glad that I chose Max’s Full Stack 
                Bootcamp because it has taught me back-end languages like C# and Java, as well as front-end languages 
                like HTML/CSS/JavaScript with the application of Angular and SQL/SQL Server as a database language 
                and I'm ready and excited to dedicate myself to this career.</p>
                <br>
                <br>
                <p>As a former commercial contractor I have the ability to visualize the outcome of a project and the 
                    passion to put myself into my work to make the final product possible. I am excited to bring these 
                    skills with me into my software development journey. </p>
                <br>
                <br>
                <br>
                <br>
                <br>
        </div>
    </main>    
</div>
